<html>
   <head>
      <title>{{ title }}</title>
      <style>
          body {
            font-family: arial;
          }
          .day {
            font-weight: bold;
            font-size: 14pt;
            margin-bottom: 10px;
          }
          .time {
            background-color: white;
          }
          .scoreboard {
            border-bottom: 1px dotted #cc8b00;
            border-top: 1px dotted #cc8b00;
            display: grid;
            grid-template-columns: 18% 18% 18% 18% 18%;
            grid-gap: 10px;
            background-color: #fff9ec;
            color: #444;
          }
          table {
            border-spacing: 5px;
          }
          td:not(.spacer) {
            border: 1px solid #ccc;
            width: 100px;
            padding: 4px;
          }
          td.spacer {
            height: 15px;
          }
          .winner {
            font-weight: bold;
            background-color: #fffab3;
          }
          .loser {
            background-color: white;
          }
          .cache {
            font-size: 8pt;
            margin-bottom: 12px;
            float: right;
          }
          .status {
            float: right;
          }
          .error {
            font-weight: bold;
            color: red;
          }
      </style>
   </head>
   <body>
       {% if data %}
       {% if live_flag != True %}
        <div class="cache">ALL SCORES FINAL</div>
       {% elif cached %}
        <div class="cache">Cached {{ cache_age }} seconds ago</div>
       {% else %}
        <div class="cache">LIVE</div>
       {% end %}

       {% for i in data.get('scoreboard', []) %}
         <div class="day">{{ escape(i['day']) }}</div>
             <div class="scoreboard">
             {% for g in i.get('game_data', []) %}
                 <table class="score">
                 <tr>
                     <td class="time" colspan="2">
                         {{ g['local_time'] }} <div class="status">{{ g['currentPeriod'] }}</div></td>
                 </tr>
                 <tr>
                     {% if g['home']['winner'] == 'true' and g['gameState'] == 'final'  %}
                     <td class="winner">
                     {% else %}
                     <td class="loser">
                     {% end %}
                         {{ g['home']['shortname'] }}
                     </td>
                     {% if g['away']['winner'] == 'true' and g['gameState'] == 'final' %}
                     <td class="winner">
                     {% else %}
                     <td class="loser">
                     {% end %}
                         {{ g['away']['shortname'] }}
                     </td>
                 </tr>
                 <tr>
                     {% if g['home']['winner'] == 'true' and g['gameState'] == 'final' %}
                     <td class="winner">
                     {% else %}
                     <td class="loser">
                     {% end %}
                         {{ g['home']['currentScore'] }}
                     </td>
                     {% if g['away']['winner'] == 'true' and g['gameState'] == 'final' %}
                     <td class="winner">
                     {% else %}
                     <td class="loser">
                     {% end %}
                         {{ g['away']['currentScore'] }}
                     </td>
                 </tr>
                     <tr><td colspan="2" class="spacer">&nbsp;</td></tr>
                 </table>
             {% end %}
             </div>
         <p>&nbsp;</p>
       {% end %}
       {% else %}
            <div class="error">NO GAME DATA FOUND</div>
       {% end %}
   </body>
   {% if live_flag %}
   <script>
       setTimeout("location.reload(true);", 60000);
   </script>
   {% end %}
 </html>